<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-900">
    <header class="bg-gray-100 text-white py-4">
        {% block navAcceuil %}
        <nav>
            <p class=" text-center">Bloc par défaut du parent (navAcceuil).</p>
        </nav>
        {% endblock %}
    </header>
    <main class="container mx-auto p-8">
        {% block content %}
        <p>Contenu par défaut du parent.</p>
        {% endblock %}
    </main>
</body>
</html>
