# Activer le moteur de réécriture d'URL
RewriteEngine On

# Définir le chemin de base (ajustez si nécessaire)
RewriteBase /SQLuedo/src/

# Ignorer les requêtes pour les fichiers existants
RewriteCond %{REQUEST_FILENAME} !-f

# Ignorer les requêtes pour les répertoires existants
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les autres requêtes vers index.php
RewriteRule ^(.*)$ index.php [QSA,L]

